#header {
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    color: white;
    background-color: black;
    height: 50px;
}

colorBlock {
    background-color: yellow;
    padding: 2px;
}

#currentSection {
    border: 1px solid black;
    margin: 20px 2px;
    padding: 10px 5px;
}